[submodule "atmega128/deps/arduino-core"]
	path = atmega128/deps/arduino-core
	url = https://github.com/arduino/ArduinoCore-avr.git
[submodule "deps/arduino-core"]
	path = deps/arduino-core
	url = https://github.com/arduino/ArduinoCore-avr.git
